.modal--form--client {
  width: 600px;
  min-height: 500px;
  background-color: #BFD7E5;
}

form {
  .content--input {
    label {
      display: inline-block;
    }
    mat-form-field {
      .mdc-text-field {
        background-color: white;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .modal--form--client {
    width: 100%;
    min-height: 300px;
    background-color: #BFD7E5;
  }
}
